{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "L1m2CoreBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    {% block tetepage %}    
        {{ parent() }}
    {% endblock %}

    {% block contenu %}  
        <h3>Bienvenue sur les Extranagrammes</h3>
        <p>Le site vous propose de jouer avec les mots en les transformant ou en déchiffrant des anagrammes.</p>
        <p>Vous pouvez partager vos transformations en les postant sur le site.</p>

        <h3>Dernières Nouvelles</h3>
            <ul>
               <li><b>Le 15 janvier 2016</b>, Le site a été mis en ligne</li>
            </ul> 

        <h3>Transformez</h3>
        <p>Transformez l'extrait d'une oeuvre en une liste de mots.</p>
            <ul>
                <li>choisir <a href="{{ path('l1m2_platform_initiales') }}" >l'extrait</a></li>
                <li>voir <a href="{{ path('l1m2_core_exemple') }}" >l'exemple</a></li>
            </ul> 

        <h3>Retrouvez</h3>
        <p>Retrouvez l'extrait d'une oeuvre en déchiffrant des anagrammes.</p>  
            <ul>
                <li>choisir <a href="{{ path('l1m2_platform_anagrammes') }}" >les anagrammes</a> </li>
                <li>voir <a href="{{ path('l1m2_core_exemple') }}" >l'exemple</a></li>
            </ul>  
    {% endblock %}

{% endblock %}
