{# src/L1m2/PlatformBundle/Resources/views/Transfo/listertransfos.html.twig #}
{% extends "L1m2PlatformBundle::layout.html.twig" %}
{% block title %}
    Lister - {{ parent() }}
{% endblock %}

{% block body %}
    {% block tetepage %}
        <li><a href="{{ path('l1m2_core_admin') }}" >admin</a></li>    
        {{ parent() }}
    {% endblock %}
    {% block overlay %}
    {% endblock %}
    {% block contenu %}    
        <h3>Transformations à valider</h3>
        <ul>
            {% for transfo in listTransfos %}
                <li>
                    <a href="{{ path('l1m2_platform_valid', {'transfo_id': transfo.id}) }}">
                    {{ transfo.resume }}  
                    </a>
                    , proposée par {{ transfo.auteur }}
                    , le {{ transfo.datePropo|date('d/m/Y') }}
                    , status  {{ transfo.status }}      
                </li>
            {% else %}
                <li>Pas de grille</li>
            {% endfor %}
        </ul>
       {{ include('L1m2PlatformBundle::pagination.html.twig', {'pl': 'l1m2_platform_transfos', 'page': page,'nbPages': nbPages}) }}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}     
{% endblock %}

