{# src/L1m2/PlatformBundle/Resources/views/Transfo/listeranagrammes.html.twig #}
{% extends "L1m2PlatformBundle::layout.html.twig" %}
{% block title %}
    Lister - {{ parent() }}
{% endblock %}

{% block body %}
    {% block tetepage %}    
        {{ parent() }}
    {% endblock %}
    {% block overlay %}
    {% endblock %}
    {% block contenu %}          
        <h3>Liste des anagrammes</h3>
        {{ include('L1m2PlatformBundle::order.html.twig', {'pl': 'l1m2_platform_anagrammes', 'page': page, 'order': order}) }}     
        <ul>
            {% for transfo in listTransfos %}
                <li>
                    <a href="{{ path('l1m2_platform_retro', {'transfo_id': transfo.id}) }}">
                    {{ transfo.resume }}  
                    </a>
                    proposée par {{ transfo.auteur }}
                    , publiée le {{ transfo.dateParu|date('d/m/Y') }}       
                </li>
            {% else %}
                <li>Pas de grille</li>
            {% endfor %}
        </ul>
        {{ include('L1m2PlatformBundle::pagination1.html.twig', {'pl': 'l1m2_platform_anagrammes', 'page': page, 'nbPages': nbPages, 'order': order}) }}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}     
{% endblock %}

