{# src/L1m2/PlatformBundle/Resources/views/Transfo/transformer.html.twig #}

{% extends "L1m2PlatformBundle::layout.html.twig" %}
{% block title %}
    Transformer - {{ parent() }}
{% endblock %}

{% block body %}
    {% block tetepage %}    
        {% set order = app.session.get('orderinitiales') %}  
        <li><a href="{{ path('l1m2_core_home') }}" >accueil</a></li>
        <li><a href="{{ path('l1m2_platform_initiales', {'page': 1, 'order': order}) }}" >liste</a></li>
        <li><a href="{{ path('l1m2_core_contact') }}" >contact</a></li>        
    {% endblock %}
    {% block overlay %}
        <div class="btn1"  id="message"></div>
        <br/>
        <input type="button" class="btn" value="ok" onclick="closePopUp()" />
    {% endblock %}
    {% block piedpage %} 
         <div id="pioche">
         </div>  
         <div id="div_mots">
              {% include "L1m2PlatformBundle:Transfo:formmots.html.twig" %}
         </div>  
         <p id ="entrees">{{ colo1 }}_{{ pioche }}_ID{{ id }}</p> 
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/l1m2core/js/common.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/l1m2core/js/script1.js') }}" ></script>
        <script type="text/javascript"> window.onload = function() { initGrid();}; </script>
    {% endblock %} 
    
{% endblock %}

